<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--BOOTSTRAP-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--FONT AWESOME-->
            <link rel="stylesheet" href="{{ asset('build/global.css') }}"> <!--Feuille de style CSS-->

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <style>
        body {
            margin: 0;

        }
        nav {
            height: 90px;
            background-color: #38817A;
            box-sizing: border-box;
            font-size: 1.3em;
        }
        #logo-nao-block {
            display: inline-block;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 80px;
        }
        #logo-nao {
            height: 70px;
        }
        #observation-block {
            display: inline-block;
            /*transform: translateY(-8px);*/
            margin-right: 90px;
        }
        .icon {
            /*height: 60px;*/
            width: 60px;
            height: 70px;
        }

        /*.red {*/
            /*border: 1px solid red;*/
        /*}*/
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .inline-block {
            display: inline-block;
        }
        .icon {
        }
        .nav-text-block {
            color: white;

        }
        #recherche-block {
            transform: translateY(-12px);
        }
        #icon-rechercher {
            transform: translateY(10px)
        }
        #icon-ajouter {
            transform: translateY(-7px);
        }
        b {
            font-size: 1.2em;
        }
        #recherche-input {
            width: 235px;
            height: 25px;
            color: black;
        }
        #rechercher {
            position: relative;
            top: 16px;
        }
        .fa-arrow-right {
            color: #346473;
        }
        #arrow-span {
            background-color: white;
            display: inline-block;
            margin-left: -6px;
            height: 25px;
            width: 20px;
        }

        #login-block {
            display: inline-block;
            background-color: #75B350;
            height: 90px;
            width: 180px;
            float: right;
            color: white;

        }
        #connexion {
            height: 45px;
            text-align: center;
            box-sizing: border-box ;
            padding-top: 10px;
            font-size: 0.8em;
            border-bottom: 1px solid #346473;

        }
        #inscription {
            height: 45px;
            text-align: center;
            box-sizing: border-box ;
            padding-top: 10px;
            font-size: 0.8em;
            border-top: 1px solid #346473;
        }
        .nav-text-block {
            transform: translateY(10px);

        }
    </style>

    <body>
            {% block nav %}
                <nav>
                    <div id="logo-nao-block">
                        <img id="logo-nao" src="{{ asset('images/nao-logo.png') }}" alt="">
                    </div>
                    <div id="observation-block" class="red">
                        <div class="icon white inline-block"><img id="icon-ajouter" src="{{ asset('images/Ajouter.svg') }}" alt=""></div>
                        <div class="nav-text-block inline-block">
                            <div class="nav-text white"><b>Ajouter</b></div>
                            <div class="nav-text white">une observation</div>
                        </div>
                    </div>

                    <div id="recherche-block" class="inline-block red">
                        <div class="icon white inline-block"><img id="icon-rechercher" src="{{ asset('images/Rechercher.svg') }}" alt=""></div>
                        <div id="rechercher" class="nav-text-block inline-block white">
                            <b>Rechercher</b>
                            <div>
                                <input id="recherche-input" type="text" placeholder="Entrez le nom d'une espèce">
                                <span id="arrow-span"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                {#<ul id="suggestions-container">#}
                                    {#<li class="suggestion">kjkljlkjlkj</li>#}
                                {#</ul>#}
                            </div>
                        </div>
                    </div>

                    <div id="login-block">
                        <div id="connexion" class="red">CONNEXION</div>
                        <div id="inscription" class="red">INSCRIPTION</div>
                    </div>

                </nav>
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block footer %}
            <div class="row">
                <footer>
                    <div class="col-md-12">
                        <div class="col-md-4 text-right" >
                            <h3>Nous suivre sur les réseaux sociaux :</h3>
                            <a href="#" class="socialLink">
                                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-pinterest fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="col-md-4 col-md-offset-4">
                            <h3>Les liens utiles :</h3>
                            <ul>
                                <li><a href="{{ path('contactUs') }}">Nous contacter</a></li>
                                <li><a href="{{ path('legalNotice') }}">Les mentions légals</a></li>
                                <li><a href="{{ path('joinAssoc') }}">Rejoindre l'association</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="text-center" id="copyright">© 2017 - Copyright Nos Amis les Oiseaux</div>
                </footer>
            </div>


            {% endblock %}
            {% block javascripts %}
                <script src="{{ asset('build/app.js') }}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!--jQuery-->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!--JS BOOTSTRAP-->
                <script src="{{ asset('build/size.js') }}"></script>
            {% endblock %}
    </body>
</html>
