{% extends 'base.html.twig' %}


{% block body %}
    <div class="login-background">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="text-center">connexion</h1>
        <div class="container login-container">
            <div class="login-form">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="form-group">
                        <label for="username">Pseudonyme:</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe:</label>
                        <input class="form-control"type="password" id="password" name="_password" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="remember_me">Se souvenir de moi</label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>
                    <div class="form-group text-center">
                            <button class="btn btn-primary"type="submit" id="_submit" name="_submit" >CONNEXION</button>
                    </div>

                </form>

            </div>
            <div class="pas-de-compte text-center">
                <p class="text-center">
                    Vous n'avez pas encore de compte?
                </p>
                <button class="btn btn-primary"><a href="{{ path('fos_user_registration_register') }}"></a>Me créer un compte</button>
            </div>

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('body').css('background', 'url({{ asset('images/aigle.jpg') }})');
    </script>
{% endblock %}

