{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Page d'ajout d'espèces</h1>

    <div class="well container">
        {{ form_start(observationsForm) }}
        <div class="form-group">
            {{ form_row(observationsForm.species) }}
        </div>
        <div class="form-group">
            {{ form_row(observationsForm.number) }}
        </div>
        <div class="form-group">
            {{ form_row(observationsForm.longitude) }}
        </div>
        <div class="form-group">
            {{ form_row(observationsForm.latitude) }}
        </div>
        <div class="form-group">
            {{ form_row(observationsForm.obsDate) }}
        </div>
        <div class="text-right">
            {{ form_row(observationsForm.submit) }}
            {{ form_end(observationsForm) }}
        </div>
    </div>
{% endblock %}