{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3 id="observation-h3" class="text-center">Ajouter une observation</h3>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="container">
        <div id="observation-container">
            {{ form_start(observationsForm) }}
            <div class="row padding-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(observationsForm.species) }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(observationsForm.number) }}
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-xs-12">
                    <div id="map-newobservation"></div>
                </div>
                <div class="col-md-5" hidden>
                    <div class="form-group">
                        {{ form_label(observationsForm.longitude) }}
                        {{ form_errors(observationsForm.longitude) }}
                        {{ form_widget(observationsForm.longitude, { 'attr': {'class': 'longitude'} }) }}
                    </div>
                    <div class="form-group"n>
                        {{ form_label(observationsForm.latitude) }}
                        {{ form_errors(observationsForm.latitude) }}
                        {{ form_widget(observationsForm.latitude, { 'attr': {'class': 'latitude'} }) }}
                    </div>
                </div>
                    <div class="col-sm-6 margin-top margin-left">
                        <div class="form-group" id="date_group">
                            {{ form_row(observationsForm.obsDate, { 'attr': {'class': 'obsDate'} }) }}
                        </div>
                    </div>
                    <div class="col-sm-6 margin-top margin-right">
                        <div class="form-group">
                            {{ form_row(observationsForm.pictures) }}
                        </div>
                    </div>
                <div class="col-xs-12">
                    <div class="form-group text-center group-btn">
                        {{ form_row(observationsForm.submit) }}
                        {{ form_end(observationsForm) }}
                    </div>
                </div>



            </div>

        </div>

    </div>
{% else %}
    <p class="bg-danger">
        <a href="{{ path('signin') }}">Inscrivez-vous</a> ou <a href="http://localhost/OC/projet5/NAO_project/web/app_dev.php/login">connectez-vous</a> pour pouvoir ajouter une observation !
    </p>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkp9nFRlaIzb4BSIFO24Q7fLOF37x_NuA&callback=initMap">
    </script>
    <script src="{{ asset('static/initMap.js') }}"></script>
{% endblock %}