{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <h1>Les observations en attente de validation: </h1>

    <table class="table table-bordered">
        <tr>
            <th>ID de du compte</th>
            {% for observation in listObservationsInvalid %}
                <td>{{ observation.idUser }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Espèce observée</th>
            {% for speciesName in listSpeciesName %}
                <td>{{ speciesName['scientificName'] }}</td>
            {% endfor %}
        </tr>
        <tr  class="text-center">
            <th>Image</th>
            {% for observation in listObservationsInvalid %}
                <td>
                {% if observation.pictures != null %}
                    <img src="{{ asset('uploads/pictures/') ~ observation.pictures}}" width="200">
                {% else %}
                    <img src="{{ asset('uploads/pictures/photo_manquante.svg')}}" width="200">
                {% endif %}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <th>Le nombre</th>
            {% for observation in listObservationsInvalid %}
                <td>{{ observation.number }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Longitude</th>
            {% for observation in listObservationsInvalid %}
                <td>{{ observation.longitude }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Latitude</th>
            {% for observation in listObservationsInvalid %}
                <td>{{ observation.latitude }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Date de l'observation</th>
            {% for observation in listObservationsInvalid %}
                <td>{{ observation.obsDate|date('d-M-Y  H:i') }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Validation</th>
            {% for observation in listObservationsInvalid %}
                <td class="text-center">
                    {#  Valider l'observation   #}
                    <a class="btn btn-primary" href="{{ path('obsValidated') }}?id={{ observation.id }}">
                        <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                    </a>

                    {#  Supprimer l'observation #}
                    <a class="btn btn-danger" href="{{ path('obsDeleted') }}?id={{ observation.id }}">
                        <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
                    </a>
                </td>
            {% endfor %}
        </tr>
    </table>

{% endblock %}