{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>La page de recherche d'espèces</h1>
    <div id="search-form">
        <div id="search-group" class="">
            <input type="text" id="search-input">
            <ul id="suggestions-container">

            </ul>
        </div>
    </div>
    <div id="search-result-container"></div>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Nom Scientifique</th>
            <th>Ordre</th>
            <th>Famille</th>
        </tr>
        <tr>
        {% for species in listSpecies %}
            <td>{{ species.name }}</td>
            <td>{{ species.scientificName }}</td>
            <td>{{ species.sequence }}</td>
            <td>{{ species.family }}</td>
        {% endfor %}
        </tr>
    </table>

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    {{ parent() }}
{% endblock %}