{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/owl.theme.default.min.css') }}">
    <style>
        .inner {
            background-color: teal;
            height: 130px;
            width: 170px;
            background-size: cover;
        }
        .owl-stage {
            background-color: white;
        }
    </style>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="search-form" class="search-form-individual">
            <h2 class="text-center">{{ species.scientificName }}</h2>
    </div>

    <div class="container-fluid">
        <div id="row-birdcard" class="row">
            <div class="col-sm-6 text-birdcard">
                <p>
                    Et olim licet otiosae sint tribus pacataeque centuriae et nulla suffragiorum
                    certamina set Pompiliani redierit securitas temporis, per omnes tamen quotquot
                    sunt partes terrarum, ut domina suscipitur et regina et ubique patrum reverenda
                    cum auctoritate canities populique Romani nomen circumspectum et verecundum. <br>
                    <br>
                    Denique Antiochensis ordinis vertices sub uno elogio iussit occidi ideo efferatus,
                    quod ei celebrari vilitatem intempestivam urgenti, cum inpenderet inopia, gravius
                    rationabili responderunt; et perissent ad unum ni comes orientis tunc Honoratus
                    fixa constantia restitisset.
                </p>
                <div id="info-birdcard" class="text-center">
                    <div class="row">
                        <div class="col-xs-6"><span>Séquence : </span></div>
                        <div class="col-xs-6"><span>Famille : </span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                {% if observations %}
                    <div id="map-birdcard"></div>
                {% else %}
                    <div id="map-birdcard"></div>
                    <div class="text-center" id="no-observation">Aucune observation associée à cette espèce</div>
                {% endif %}
            </div>
        </div>
    </div>


    {# COUNT NUMBER OF IMAGES #}
    {% set num = 0%}
    {% for pic in pictures %}
        {% for p in pic %}
            {% set num = num + 1 %}
        {% endfor %}
    {% endfor %}
    <div id="num" class="hidden" data-num="{{ num }}"></div>

    {#<div class="owl-carousel owl-theme">#}
        {#<div class="item" ><div class="inner" style="background-image: url({{ asset('tempo/im1.jpg') }})"></div></div>#}
        {#<div class="item"><div class="inner" style="background-image: url({{ asset('tempo/im4.png') }})"></div></div>#}
        {#<div class="item"><div class="inner" style="background-image: url({{ asset('tempo/im2.jpg') }})"></div></div>#}
        {#<div class="item"><div class="inner" style="background-image: url({{ asset('tempo/im3.jpg') }})"></div></div>#}
    {#</div>#}

    {% set id = 0 %}
    <div class="owl-carousel owl-theme">
        {% for pic in pictures %}
            {% for p in pic %}
                {% set image =  p %}
                {% if image != 'N;' %}
                    <div  class="item"><div data-image={{ image }}  class="inner dataImage" style="background-image: url({{ asset('uploads/pictures/xx') }})"></div></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>



    {% if observations %}
        <div id="data" hidden="hidden">
        {% for observation in observations %}
            <div data-longitude={{ observation.longitude }} data-latitude={{ observation.latitude }}></div>
         {% endfor %}
        </div>
    {% else %}
        <p></p>
    {% endif %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkp9nFRlaIzb4BSIFO24Q7fLOF37x_NuA&callback=initMap">
    </script>
    <script src="{{ asset('static/initMapBirdcard.js') }}"></script>
    <script src="{{ asset('static/owl.carousel.min.js') }}"></script>
    <script>

        function initOwl(n) {
            var items = n < 7 ? n : 7;
            $('.owl-carousel').owlCarousel({
                stagePadding:20,
                loop:false,
                margin:0,
                nav:true,
                responsive:{
                    0:{
                        items:items
                    },
                    600:{
                        items:items
                    },
                    1000:{
                        items:items,
                    }
                }
            });
            if (n < 7) $('.owl-stage').css('margin-bottom', '30px');
        }

        $(document).ready(function(){
            initOwl($('#num').data('num'));
            var image = "";
            var $dataImage = $('.dataImage');
            for (var i = 0; i < $dataImage.length; i++) {
                var $data = $($dataImage[i]);
                var rawImage = $data.data('image');
                if (rawImage.includes('"')) {
                    image = rawImage.substring(rawImage.indexOf('"') + 1, rawImage.length - 2);
                } else {
                    image = rawImage;
                }
                var rawBackground =  $data.css('background-image');
                var properBackground = rawBackground.replace('xx', image);
                $data.css('background-image', properBackground);
            }
        });



    </script>
{% endblock %}