{% extends 'base.html.twig' %}

{% block nav %}
    {{ parent() }}
{% endblock %}

    {% block body %}

        {{ parent() }}

        <!--si connecté en tant qu'admin-->
        {% if is_granted("ROLE_ADMIN") %}


        {% for flash_message in app.session.flashBag.get('success') %}

            <div class="alert alert-success">
                <div class="container text-center">
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}

        <div class="container">

            <h1>Changer une description</h1>

            {{ form_start(descriptionForm) }}

                <div class="form-group">
                    {{ form_row(descriptionForm.scientificName) }}
                </div>

                <div class="form-group">
                    {{ form_row(descriptionForm.description) }}
                </div>
                <div class="form-group text-right">
                    {{ form_row(descriptionForm.submit) }}
                </div>
            {{ form_end(descriptionForm) }}

        </div>

        {% else %}
            <h1 class="danger">ERROR 404 : Page non trouvée</h1>
        {% endif %}
    {% endblock %}