{% extends 'base.html.twig' %}

{% block title %}
    Newsletter
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

    {% block body %}

        {{ parent() }}

        <!--si connecté en tant qu'admin-->
        {% if is_granted("ROLE_ADMIN") %}

            {% for flash_message in app.session.flashBag.get('success') %}

                <div class="alert alert-success">
                    <div class="container text-center">
                        {{ flash_message }}
                    </div>
                </div>
            {% endfor %}

        <div class="container">
            <h1>Newsletter</h1>

            <p>
                Envoyer à :
                {% for newsletterValid in listNewsletterValid %}
                    <mark>{{ newsletterValid.email }}</mark>
                {% endfor %}
            </p>

            <form method="post">
                <div class="form-group">
                    {{ form_start(newsletterForm) }}
                    <div class="form-group">
                        {{ form_row(newsletterForm.object) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(newsletterForm.message) }}
                    </div>
                    <div class="form-group text-right">
                        {{ form_row(newsletterForm.submit) }}
                    </div>
                    {{ form_end(newsletterForm) }}
                </div>
            </form>
        </div>

        {% else %}
            <h1 class="danger">ERROR 404 : Page non trouvée</h1>
        {% endif %}

    {% endblock %}