<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('enz') }}">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--FONT AWESOME-->
        {% for css_asset in easyadmin_config('design.assets.css') %}
            <link rel="stylesheet" href="{{ asset(css_asset) }}">
        {% endfor %}

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block head_javascript %}
    {% block adminlte_options %}
        <script type="text/javascript">
            var AdminLTEOptions = {
                animationSpeed: 'normal',
                sidebarExpandOnHover: false,
                enableBoxRefresh: false,
                enableBSToppltip: false,
                enableFastclick: false,
                enableControlSidebar: false,
                enableBoxWidget: false
            };
        </script>
    {% endblock %}

        <script src="{{ asset('bundles/easyadmin/javascript/easyadmin-all.min.js') }}"></script>
    {% endblock head_javascript %}

    {% if easyadmin_config('design.rtl') %}
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap-rtl.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/adminlte-rtl.min.css') }}">
    {% endif %}

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/easyadmin/stylesheet/html5shiv.min.css') }}"></script>
    <script src="{{ asset('bundles/easyadmin/stylesheet/respond.min.css') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ asset('build/global.css') }}"> <!--Feuille de style CSS-->


</head>


{#  --------------- FIN HEADER -----------------------------   #}



{% block body %}
    <body id="{% block body_id %}{% endblock %}" class="easyadmin sidebar-mini {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}">
    <div class="wrapper">
    {% block wrapper %}
    {#<body>#}
    {% block nav %}
        {#  BARRE DE NAV DESKTOP #}
        <nav id="big-nav" class="hidden-sm hidden-xs">
            <div id="logo-nao-block">
                <a href="{{ path('homepage') }}">
                    <img id="logo-nao" src="{{ asset('images/nao-logo.png') }}" alt="">
                </a>
            </div>
            <div id="observation-block" class="red">
                <div class="icon white inline-block"><img id="icon-ajouter" src="{{ asset('images/Ajouter.svg') }}" alt=""></div>
                <div class="nav-text-block inline-block">
                    <a href="{{ path('addingSpecies') }}">
                        <div class="nav-text white"><b>Ajouter</b></div>
                        <div class="nav-text white">une observation</div>
                    </a>
                </div>
            </div>

            <div id="recherche-block" class="inline-block red">
                <div class="icon white inline-block"><img id="icon-rechercher" src="{{ asset('images/Rechercher.svg') }}" alt=""></div>
                <div id="rechercher" class="nav-text-block inline-block white">
                    <a id="speciesSearchLink" href="{{ path('speciesSearch') }}">
                        <b>Rechercher</b>
                    </a>
                    <input type="hidden" id="refresh" value="no">
                    <div>
                        <input id="nav-search-input" type="text" placeholder="Entrez le nom d'une espèce">
                        <span id="arrow-span"><i id="input-arrow" class="fa fa-arrow-right" aria-hidden="true"></i></span>
                        <ul id="nav-suggestions-container">
                            {# SUGGESTIONS #}
                        </ul>
                    </div>
                </div>
            </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="login-block" class="login-block-connected">
                    <img id="oeuf" src="{{ asset('images/oeuf.svg') }}" alt="">
                    <div id="tooltip-triangle" class="hidden"></div>
                    <div id="tooltip" class="text-center hidden">
                        <h3>{{ app.user.username }}</h3>
                        <hr>
                        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")%}
                            <a href="{{ path('admin') }}">
                                <div>Tableau de bord</div>
                            </a>
                        {% endif %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            <div id="tooltip-deconnexion">Déconnexion</div>
                        </a>
                    </div>
                </div>
            {% else %}
                <div id="login-block">
                    <a  href="{{ path('fos_user_security_login') }}">
                        <b><div id="connexion" class="red">CONNEXION</div></b>
                    </a>
                    <a href="{{ path('fos_user_registration_register') }}">
                        <b><div id="inscription" class="red">INSCRIPTION</div></b>
                    </a>
                </div>
            {% endif %}


        </nav>

        {# ================== BARRE DE NAV MOBILE  ================= #}

        <nav id="small-nav" class="hidden-md hidden-lg">
            <div id="logo-nao-block">
                <a href="{{ path('homepage') }}">
                    <img id="logo-nao" src="{{ asset('images/nao-logo.png') }}" alt="">
                </a>
            </div>
            <div id="toggle-widget">
                <div class="white-bar"></div>
            </div>

            <div id="toggle" class="text-center">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('dashboard') }}">
                        <div class="small-navbar-el small-login-block">TABLEAU DE BORD</div>
                    </a>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <div class="small-navbar-el small-login-block">DÉCONNEXION</div>
                    </a>
                {% else %}
                    <a href="{{ path('login') }}">
                        <div class="small-navbar-el small-login-block">SE CONNECTER</div>
                    </a>
                    <a href="{{ path('signin') }}">
                        <div class="small-navbar-el small-login-block">CRÉER UN COMPTE</div>
                    </a>
                {% endif %}
                <a href="{{ path('speciesSearch') }}">
                    <div class="small-navbar-el small-other">RECHERCHER</div>
                </a>
                <a href="{{ path('addingSpecies') }}">
                    <div class="small-navbar-el small-other">AJOUTER UNE OBSERVATION</div>
                </a>
            </div>

            <div id="small-search-bar">
                <input type="text" placeholder="Entrez le nom d'une espèce">
                <span id="arrow-span"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            </div>
        </nav>

    {% endblock %}

    {# ------------ FIN BLOC DE NAV  -----------------#}


    {#-------------- BLOC CONTENU ---------------------#}


            <aside class="main-sidebar">
                {% block sidebar %}
                    <section class="sidebar">
                        {% block main_menu_wrapper %}
                            {{ include([
                            _entity_config is defined ? _entity_config.templates.menu,
                            easyadmin_config('design.templates.menu'),
                            '@EasyAdmin/default/menu.html.twig'
                            ]) }}
                        {% endblock main_menu_wrapper %}
                    </section>
                {% endblock sidebar %}
            </aside>

            <div class="content-wrapper">
                {% block content %}
                    {% block flash_messages %}
                        {{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}
                    {% endblock flash_messages %}

                    <section class="content-header">
                        {% block content_header %}
                            <h1 class="title">{% block content_title %}{% endblock %}</h1>
                        {% endblock content_header %}
                        {% block content_help %}
                            {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                <div class="box box-widget help-entity">
                                    <div class="box-body">
                                        {{ _entity_config[app.request.query.get('action')]['help']|trans|raw }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock content_help %}
                    </section>

                    <section id="main" class="content">
                        {% block main %}{% endblock %}
                    </section>
                {% endblock content %}
            </div>
        {% endblock wrapper %}
    </div>


    {#-------------- FIN BLOC CONTENU ---------------------#}




    {% block footer %}


        <div class="container-fluid">
            <div class="row">
                <footer>
                    <div class="col-md-12">
                        <div class="col-md-4 text-right" >
                            <h3>Nous suivre sur les réseaux sociaux :</h3>
                            <a href="#" class="socialLink">
                                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-pinterest fa-3x" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="socialLink">
                                <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="col-md-4 col-md-offset-4">
                            <h3>Les liens utiles :</h3>
                            <ul>
                                <li><a href="{{ path('contactUs') }}">Nous contacter</a></li>
                                <li><a href="{{ path('legalNotice') }}">Les mentions légals</a></li>
                                <li><a href="{{ path('joinAssoc') }}">Rejoindre l'association</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="text-center" id="copyright">© 2017 - Copyright Nos Amis les Oiseaux</div>
                </footer>
            </div>
        </div>




    {% endblock %}





    {% block body_javascript %}{% endblock body_javascript %}

    {% for js_asset in easyadmin_config('design.assets.js') %}
        <script src="{{ asset(js_asset) }}"></script>
    {% endfor %}



    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!--jQuery-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!--JS BOOTSTRAP-->
        <script src="{{ asset('static/size.js') }}"></script>
        <script>
            $(document).ready(function(){

                $("#toggle-widget").on("click", function(){
                    $this = $(this);
                    if ($this.hasClass('is-open')) {
                        $this.addClass('is-closed').removeClass('is-open');
                        $("#toggle").animate({
                            height: "1"
                        }, 500);
                    } else {
                        $this.addClass('is-open').removeClass('is-closed');
                        $("#toggle").animate({
                            height: "170"
                        }, 500);
                    }
                });

                // CUSTOM TOOLTIP
                $('#oeuf').on("click", function(){
                    $('#tooltip').toggleClass('hidden')
                    $('#tooltip-triangle').toggleClass('hidden')
                })

                // DON'T DISPLAY SEARCHBAR ON PAGE SEARSCHSPEACIES
                function isLocation(location) {
                    return window.location.href.includes(location)
                }

                if (isLocation('speciessearch')) {
                    $("#rechercher").css("top", "5px").find('div').hide();
                }


                var speciesSearchLink = $('#speciesSearchLink');
                var url = window.location.href;
                speciesSearchLink.href = url;

                var $refresh = $('#refresh');


            });


        </script>
    {% endblock %}




</body>
{% endblock body %}
</html>

















{#</body>#}
{#</html>#}








{#<!DOCTYPE html>#}
{#<html lang="{{ app.request.locale|split('_')|first|default('enz') }}">#}
    {#<head>#}
        {#<meta charset="utf-8">#}
        {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
        {#<meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />#}
        {#<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">#}
        {#<meta name="generator" content="EasyAdmin" />#}

        {#<title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>#}

        {#{% block head_stylesheets %}#}
            {#<link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/easyadmin-all.min.css') }}">#}
            {#<style>#}
                {#{{ easyadmin_config('_internal.custom_css')|raw }}#}
            {#</style>#}
        {#{% endblock %}#}

        {#{% for css_asset in easyadmin_config('design.assets.css') %}#}
            {#<link rel="stylesheet" href="{{ asset(css_asset) }}">#}
        {#{% endfor %}#}

        {#{% block head_favicon %}#}
            {#{% set favicon = easyadmin_config('design.assets.favicon') %}#}
            {#<link rel="icon" type="{{ favicon.mime_type }}" href="{{ asset(favicon.path) }}" />#}
        {#{% endblock %}#}

        {#{% block head_javascript %}#}
            {#{% block adminlte_options %}#}
                {#<script type="text/javascript">#}
                    {#var AdminLTEOptions = {#}
                        {#animationSpeed: 'normal',#}
                        {#sidebarExpandOnHover: false,#}
                        {#enableBoxRefresh: false,#}
                        {#enableBSToppltip: false,#}
                        {#enableFastclick: false,#}
                        {#enableControlSidebar: false,#}
                        {#enableBoxWidget: false#}
                    {#};#}
                {#</script>#}
            {#{% endblock %}#}

            {#<script src="{{ asset('bundles/easyadmin/javascript/easyadmin-all.min.js') }}"></script>#}
        {#{% endblock head_javascript %}#}

        {#{% if easyadmin_config('design.rtl') %}#}
            {#<link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap-rtl.min.css') }}">#}
            {#<link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/adminlte-rtl.min.css') }}">#}
        {#{% endif %}#}

        {#<!--[if lt IE 9]>#}
            {#<script src="{{ asset('bundles/easyadmin/stylesheet/html5shiv.min.css') }}"></script>#}
            {#<script src="{{ asset('bundles/easyadmin/stylesheet/respond.min.css') }}"></script>#}
        {#<![endif]-->#}
    {#</head>#}








    {#{% block body %}#}
    {#<body id="{% block body_id %}{% endblock %}" class="easyadmin sidebar-mini {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}">#}
        {#<div class="wrapper">#}
        {#{% block wrapper %}#}
            {#<header class="main-header">#}
            {#{% block header %}#}
                {#<nav class="navbar" role="navigation">#}
                    {#<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">#}
                        {#<span class="sr-only">{{ 'toggle_navigation'|trans(domain = 'EasyAdminBundle') }}</span>#}
                    {#</a>#}

                    {#<div id="header-logo">#}
                        {#{% block header_logo %}#}
                            {#<a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">#}
                                {#{{ easyadmin_config('site_name')|raw }}#}
                            {#</a>#}
                        {#{% endblock header_logo %}#}
                    {#</div>#}

                    {#<div class="navbar-custom-menu">#}
                    {#{% block header_custom_menu %}#}
                        {#{% set _logout_path = easyadmin_logout_path() %}#}
                        {#<ul class="nav navbar-nav">#}
                            {#<li class="dropdown user user-menu">#}
                                {#{% block user_menu %}#}
                                    {#<span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>#}

                                    {#{% if app.user|default(false) == false %}#}
                                        {#<i class="hidden-xs fa fa-user-times"></i>#}
                                        {#{{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}#}
                                    {#{% elseif not _logout_path %}#}
                                        {#<i class="hidden-xs fa fa-user"></i>#}
                                        {#{{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}#}
                                    {#{% else %}#}
                                        {#<div class="btn-group">#}
                                            {#<button type="button" class="btn" data-toggle="dropdown">#}
                                                {#<i class="hidden-xs fa fa-user"></i>#}
                                                {#{{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}#}
                                            {#</button>#}
                                            {#<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">#}
                                                {#<span class="caret"></span>#}
                                            {#</button>#}
                                            {#<ul class="dropdown-menu" role="menu">#}
                                                {#{% block user_menu_dropdown %}#}
                                                {#<li>#}
                                                    {#<a href="{{ _logout_path }}"><i class="fa fa-sign-out"></i> {{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}</a>#}
                                                {#</li>#}
                                                {#{% endblock user_menu_dropdown %}#}
                                            {#</ul>#}
                                        {#</div>#}
                                    {#{% endif %}#}
                                {#{% endblock user_menu %}#}
                            {#</li>#}
                        {#</ul>#}
                    {#{% endblock header_custom_menu %}#}
                    {#</div>#}
                {#</nav>#}
            {#{% endblock header %}#}
            {#</header>#}

            {#<aside class="main-sidebar">#}
            {#{% block sidebar %}#}
                {#<section class="sidebar">#}
                    {#{% block main_menu_wrapper %}#}
                        {#{{ include([#}
                            {#_entity_config is defined ? _entity_config.templates.menu,#}
                            {#easyadmin_config('design.templates.menu'),#}
                            {#'@EasyAdmin/default/menu.html.twig'#}
                        {#]) }}#}
                    {#{% endblock main_menu_wrapper %}#}
                {#</section>#}
            {#{% endblock sidebar %}#}
            {#</aside>#}

            {#<div class="content-wrapper">#}
            {#{% block content %}#}
                {#{% block flash_messages %}#}
                    {#{{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}#}
                {#{% endblock flash_messages %}#}

                {#<section class="content-header">#}
                {#{% block content_header %}#}
                    {#<h1 class="title">{% block content_title %}{% endblock %}</h1>#}
                {#{% endblock content_header %}#}
                {#{% block content_help %}#}
                    {#{% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}#}
                        {#<div class="box box-widget help-entity">#}
                            {#<div class="box-body">#}
                                {#{{ _entity_config[app.request.query.get('action')]['help']|trans|raw }}#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endif %}#}
                {#{% endblock content_help %}#}
                {#</section>#}

                {#<section id="main" class="content">#}
                    {#{% block main %}{% endblock %}#}
                {#</section>#}
            {#{% endblock content %}#}
            {#</div>#}
        {#{% endblock wrapper %}#}
        {#</div>#}

        {#{% block body_javascript %}{% endblock body_javascript %}#}

        {#{% for js_asset in easyadmin_config('design.assets.js') %}#}
            {#<script src="{{ asset(js_asset) }}"></script>#}
        {#{% endfor %}#}
    {#</body>#}
    {#{% endblock body %}#}
{#</html>#}
