{% macro render_menu_item(item, translation_domain) %}
    {% if item.type == 'divider' %}
        {{ item.label|trans(domain = translation_domain) }}
    {% else %}
        {% set menu_params = { menuIndex: item.menu_index, submenuIndex: item.submenu_index } %}
        {% set path =
            item.type == 'link' ? item.url :
            item.type == 'route' ? path(item.route, item.params) :
            item.type == 'entity' ? path('easyadmin', { entity: item.entity, action: 'list' }|merge(menu_params)|merge(item.params)) :
            item.type == 'empty' ? '#' : ''
        %}

        {# if the URL generated for the route belongs to the backend, regenerate
           the URL to include the menu_params to display the selected menu item
           (this is checked comparing the beginning of the route URL with the backend homepage URL)
        #}
        {% if item.type == 'route' and (path starts with path('easyadmin')) %}
            {% set path = path(item.route, menu_params|merge(item.params)) %}
        {% endif %}

        <a href="{{ path }}" {% if item.target|default(false) %}target="{{ item.target }}"{% endif %}>
            {% if item.icon is not empty %}<i class="fa {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|trans(domain = translation_domain) }}</span>
            {% if item.children|default([]) is not empty %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as helper %}

{% block main_menu_before %}{% endblock %}

<ul class="sidebar-menu">
    {% block main_menu %}

        <li>
            <a href="{{ path('homepage') }}">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>Retour au site
            </a>
        </li>

        <li>
            <a href="?entity=Observations">
                <i class="fa fa-camera-retro" aria-hidden="true"></i> Observations
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="?entity=Users">
                <i class="fa fa-users" aria-hidden="true"></i> Utilisateurs
            </a>
        </li>
        {% endif %}
    {% endblock main_menu %}
</ul>

{% block main_menu_after %}{% endblock %}
